/* 
FONDO PRINCIPAL Y ÁREAS GENERALES (BASE): #F5F7FA

TEXTO PRINCIPAL: #2D3748

ELEMEN. RESALTE Y BTNs PRIMARIOS (ACCIÓN): #4A90E2

COLORES TAGS O CATEGORIAS (VIBRANTES):
    =>Color 1 (Frontend): #FF7F50
    =>Color 2 (Backend): #6FCF97
    =>Color 3 (General): #FFD166

LÍNEAS DIVISORAS O BORDES SUAVES: #E2E8F0

BTNs SECUNDARIOS O HOVER EFFECTS: #2563EB

ERRORES O ADVERTENCIAS: #E53E3E
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F7FA;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo-txt {
    width: 70px;
}

#homeIcon-img {
    width: 35px;
}

#logoIcon-img {
    width: 50px;
}

.header-logo-section {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#magnifyingGlass-icon {
    width: 25px;
}

.header-nav-section {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
