/*
FONDO PRINCIPAL Y ÁREAS GENERALES (BASE): #F5F7FA

TEXTO PRINCIPAL: #2D3748

ELEMEN. RESALTE Y BTNs PRIMARIOS (ACCIÓN): #4A90E2

COLORES TAGS O CATEGORIAS (VIBRANTES):
    =>Color 1 (Frontend): #FF7F50
    =>Color 2 (Backend): #6FCF97
    =>Color 3 (General): #FFD166

LÍNEAS DIVISORAS O BORDES SUAVES: #E2E8F0

BTNs SECUNDARIOS O HOVER EFFECTS: #2563EB

ERRORES O ADVERTENCIAS: #E53E3E
*/



/*! *** INITIAL CONFIGS *** !*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2D3748;

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F5F7FA;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}



/*! *** HEADER SECTION *** !*/
.header-container {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logo-txt {
    width: 70px;
}

#logoIcon-img {
    width: 50px;
}

.header-logo-section {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.initial-config-btn {
    border: none;
    background-color: transparent;
}

.home-logo-btn:hover {
    filter: drop-shadow(0px 0px 10px #2563EB);
}

#magnifyingGlass-icon {
    width: 25px;
}

.header-nav-section {
    padding: 0px 10px;
    width: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-input {
    width: 100%;
    height: 30px;

    border: none;
    border-radius: 10px;
    background-color: #e5e7eA;

    transition: .4s;
}

#search-input:hover {
    background-color: #2563EB;
    color: #F5F7FA;
}

#magnifying-glass-btn {
    border-radius: 5px;
    transition: .3s;
}

#magnifying-glass-btn:hover {
    padding: 5px;
    border: 3px solid #e5e7eA;
    background-color: #e5e7eA;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #2563EB;
}

#about-us-link {
    width: 15%;
}


/*! *** HOME PAGE CONFIGS *** !*/
.homePage-section {
    display: flex;
}



/*! *** SIDEBAR SECTION *** !*/
.side-bar-container {
    width: 45%;
    height: 27.6rem;
    padding: 10px;

    background-color: #2563EB;
    border: 3px solid #E2E8F0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.technologies-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-section label {
    color: #EFEFEF;
}

.filter-section h3 {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #E2E8F0;
}

.technologies-list span {
    color: #EFEFEF;
}

.technologies-list h3 {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #E2E8F0;
}

.add-new-FlipCard-btn {
    padding: 10px;

    color:#E5E7EA;
    text-align: center;

    border: 2px solid #E2E8F0;
    border-radius: 10px;
    background-color: #4A90E2;

    transition: .3s;
}

.add-new-FlipCard-btn:hover {
    background-color: #FFD166;
    border: 2px solid #F5F7FA;
    color:#2D3748;
}

#each-tech-name-link {
    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}

#each-tech-name-link:hover {
    border: 1px solid #E2E8F0;
    color: #FFD166;
}



/*! *** CARD LIST SECTION*** !*/
.card-list-container {
    width: 105%;
    height: auto;
    margin: 10px;

    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flip-card-container {
    margin:5px;
    border: none;
    border-radius: 10px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    transition: .3s;
}

#fliped-card-title {
    width: 220px;
    height: 30px;
    text-align: center;
    color:#E2E8F0;
    text-shadow: 0px 0px 5px #2D3748;
    border: 3px solid #E2E8F0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

.flip-card-container:hover{
    margin: 15px;
    border: 3px solid #E2E8F0;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #2563EB;
    background-color: #FFD166;
}

.flip-card {
    padding: 15px;
    width: 270px;
    height: 300px;
    margin: 5px;

    background-color: #4A90E2;
    border: 3px solid #D2D8D0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #757575;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    transition: .3s;
}



.flip-card:hover{
    box-shadow: 5px 5px 15px #000;
    border-radius: 10px;
}

.flip-card p {
    font-weight: bold;
    color: #D2D8D0;
    text-align: center;
    text-shadow: 0px 0px 5px #2D3748;
}

.flip-card h2 {
    padding: 5px;

    color: #EFEFEF;
    border: 2px solid #E2E8F0;
    border-radius: 10px;
    background-color: #2563EB;
}

.flip-card-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flipCard-btn {
    padding: 10px;
    margin: 5px;

    border: 3px solid #E2E8F0;
    border-radius: 10px;

    background-color: transparent;

    font-weight: bold;
    color: #fff;

    transition: .3s;
}

.flipCard-btn:hover {
    background-color: #FFD166;
    box-shadow: 5px 5px 5px #878787;
    color:#000;
}

#flip-back-btn {
    border: none;
    background-color: transparent;
    transition: .3s;
}


#flip-back-arrow {
    width: 45px;
    filter: drop-shadow(0px 0px 5px #000 );
}

#flip-back-arrow:hover {
    filter: drop-shadow(0px 0px 5px #FFD166);
}

.flipCard-tags {
    width: 85%;

    text-align: center;
    font-weight: bold;

    border: 3px solid #E2E8F0;
    border-radius: 10px;  
    background-color: #FFD166;
    box-shadow: 5px 5px 5px #878787;

}

.flipCard-tags p {
    color: #2D3748;
    text-shadow: none;
    font-size: 13px;   
}

.delete-btn {
    border: none;
    border-radius: 50px;
    background-color: transparent;

    transition: .3s;
}

.delete-btn img {
    width: 50px;
}

.delete-btn:hover {
    filter: drop-shadow(0px 0px 10px #FFD166);
    border: 2px solid #E2E8F0;
    border-radius: 50px;
}



/*! *** TECH INFO SECTION *** !*/
.tech-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.tech-info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.tech-main-info {
    text-align: center;
}

.about-tech-info {
    text-align: center;

    width: 50%;
    padding: 10px;

    border: 3px solid #E2E8F0;
    border-radius: 10px;
    background-color: #2563EB;
    box-shadow: 5px 5px 10px #757575;
}

.about-tech-info h3, h4 {
    color: #e5e7eA;
}

.tech-description {
    text-align: justify;

    padding: 15px;
    margin: 15px;
    
    border: 3px solid #E2E8F0;
    box-shadow: 5px 5px 10px #2563EB;
}

.tech-description h5 {
    padding: 10px 5px;
    margin: 10px 0px;

    font-size: 17px;
    text-align: center;

    border: 1px solid #E2E8F0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #DFDFDF;
}

.back-home-btn {
    padding: 10px;
    
    border: 3px solid #E2E8F0;
    background-color: #2563EB;
    border-radius: 10px;

    color: #E2E8F0;

    transition: .3s;
}

.back-home-btn:hover {
    box-shadow: 7px 7px 10px #2563EB;
    background-color: #E2E8F0;
    border: 3px solid #2D3748;
    color: #2D3748;
}



/*! *** CARD DETAILS PAGE *** !*/
.card-details-container {
    margin: 5px 20px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;

    border: 3px solid #E2E8F0;
    border-radius: 30px;
    background-color: #4A90E2;
    box-shadow: -10px 10px 20px #878787;
}

.main-card-info {
    padding: 10px;

    border: 3px solid #E2E8F0;
    border-radius: 20px;
    background-color: #FF7F50;
    box-shadow: -5px 5px 10px #2D3748;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.main-card-info span {
    font-weight: bold;
}

.main-card-info a {
    padding: 5px 15px;

    color: #fff;

    border: 1px solid #E2E8F0;
    border-radius: 20px;

    transition: .3s;
}

.main-card-info a:hover {
    border: 3px solid #E2E8F0;
    padding: 10px 20px;
    background-color: #FFD166;
    color: #2D3748;
    box-shadow: -10px 10px 15px #2563EB;
}

.description-card-info {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.description-card-info p {
    margin-bottom: 20px;

    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 10px #2D3748;
}

.description-card-info img {
    width: 100%;
    height: auto;
}

#card-details-edit-btn {
    width: 100%;
}

#card-details-back-btn {
    width: 100%;
}



/*! *** ADD NEW FLIPCARD PAGE *** !*/
.form-container {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.form-container input {
    width: 100%;
    padding: 10px;

    border: 2px solid #E2E8F0;
    border-radius: 10px;
    border-top: none;
    border-right: none;
    box-shadow: -5px 5px 5px #BDBDBD;

    transition: .3s;
}

.form-container input:hover {
    box-shadow: -5px 5px 5px #2563EB;
    padding: 15px;
}

.form-main-info {
    margin: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.form-main-info label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-info {
    margin: 20px;
    padding: 20px;

    border: 3px solid #E2E8F0;
    background-color: #2D3748;
    border-radius: 15px;
    box-shadow: -5px 5px 15px #878787;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.description-info label {
    color: #E2E8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.image-input-add {
    text-align: center;
}

#description-input-add {
    width: 217%;
    height: 250px;
}

#add-new-card-btn {
    width:100%;
}



/*! *** ABOUT US *** !*/
.about-us-container {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.about-us-container span {
    font-weight: bold;
}

.about-us-head {
    padding: 10px;
    margin: 5px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    transition: .3s;
}

.about-us-head:hover {
    border: 3px solid #E2E8F0;
    box-shadow: -5px 5px 15px #2563EB;
    background-color: #E5E7EA;
}

.about-us-head img{
    width: 200px;
}

.about-us-content {
    padding: 15px;
    margin: 5px;

    text-align: justify;

    border: 3px solid #E2E8F0;
    border-radius: 15px;
    box-shadow: -5px 5px 10px #878787;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 35px;

    transition: .3s;
}

.about-us-content h2 {
    font-size: 20px;
    text-align: center;
}

.about-us-content:hover {
    box-shadow: -5px 5px 15px #2563EB;

}

/*! *** FOOTER SECTION *** !*/
.footer-container {
    padding: 10px;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#footer-logo {
    width: 85px;
}

.text-container {
    width: 75%;
    text-align: center;
}

.footer-links {
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
